{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{% trans "Import" %} {{ opts.verbose_name }} {{ block.super }}{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block coltype %}colM{% endblock %}
{% block bodyclass %}change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     {% trans "Import" %} {{ opts.verbose_name }}
</div>
{% endblock %}

{% block content_title %}<h1>{% trans "import"|capfirst %}</h1>{% endblock %}

{% block content %}<div id="content-main">

<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
    <fieldset class="module aligned">
        <h2>1. {% trans "Upload file" %}</h2>
        {% if import_form.non_field_errors %}
            <p class="errornote">
            {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
            </p>
            {{ import_form.form.non_field_errors }}
        {% endif %}
        {% for field in import_form %}
            <div class="form-row"><div class="field-box">
                {% if field.is_checkbox %}
                    {{ field.field }}{{ field.label_tag }}
                {% else %}
                    {{ field.label_tag }}
                    {% if field.is_readonly %}
                        <p>{{ field.contents }}</p>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endif %}
                {% if field.field.field.help_text %}
                    <p class="help">{{ field.field.field.help_text|safe }}</p>
                {% endif %}
            </div></div>
        {% endfor %}
    </fieldset>

    <div class="submit-row">
        <input type="submit" value="{% trans "Upload file" %}" class="default" name="_send_file" />
    </div>
</form>

{% if sheet_head %}
    <form action="." method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <h2>2. {% trans "Assign columns" %}</h2>
            {% if column_assign_form.non_field_errors %}
                <p class="errornote">
                {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </p>
                {{ column_assign_form.form.non_field_errors }}
            {% endif %}
            <table>
                {% for row in sheet_head %}
                    <tr>
                        {% for cell in row %}
                            {% if forloop.parentloop.first %}
                                <th>{{cell.value}}</th>
                            {% else %}
                                <td>{{cell.value}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    {% for field in column_assign_form %}
                        <td>
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% trans "Assign" %}" class="default" name="_send_assignment" />
        </div>
    </form>
{% endif %}

{% if partial_form %}
    <form action="." method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <h2>3. {% trans "define default values"|capfirst %}</h2>
            {{ partial_form.non_field_errors }}
            {% for field in partial_form %}
                <div class="form-row"><div class="field-box">
                    {{field.errors}}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {{ field }}
                    {% endif %}
                    {% if field.field.field.help_text %}
                        <p class="help">{{ field.field.field.help_text|safe }}</p>
                    {% endif %}
                </div></div>
            {% endfor %}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% trans "save" %}" class="default" name="_send_common_data" />
        </div>
    </form>
{% endif %}

{% if import %}
    <h2>{% trans "result"|capfirst %}</h2>
    <h3>{% trans "errors" %}</h3>
    {% if import.errors %}
        {% for error in import.errors %}
            {{error.0}} {{error.1}}
        {% endfor %}
    {% else %}
        <p>{% trans "There were no errors" %}</p>
        <h3>{% trans "number of imports"|capfirst %}</h3>
        <p>{{import.count}}</p>
        {% if dry_run %}
            <p>{% trans "this was a dry run" %}</p>
        {% endif %}
    {% endif %}
{% endif %}

</div>{% endblock %}
